html {
  box-sizing: border-box;
  font-family:"Lato", sans-serif;
  line-height: 1.5;
  background-color:#f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 2em;
  text-align: left;
  vertical-align: middle;

}

h2 {
  font-weight:bold;
  margin-top: 1.5em;
}

p {
  font-size:1em;
}

img {
  display:block;
  max-width: 25em;
  width: 100%;
  padding-top:0.5em;
}

.btn {
  text-decoration: none;
  color: black;
  display:inline-block;
  border: 2px solid #333;
  border-radius: 10px;
  padding:0.5em;
  margin-top: 0.5em;
}

.btn:hover {
  color: #666;
}
